@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  --clr-primary: #2e5670;
  --clr-secondary: #1d3c50;
  --clr-tertiary: #2e6284;

  --clr-font-primary: #ffffff;
  --clr-font-secondary: #1d3c50;

  --clr-background: #c4d7df;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-background)
}

.header {
  height: 80px;
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-vacsense {
  max-height: 90%;
  width: auto;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: var(--clr-font-primary);
}

.links .selecionado a {
  color: var(--clr-font-secondary);
  font-weight: 800;
}

.btn-area-cliente {
  background: var(--clr-font-secondary);
  padding: 20px;
  border-radius: 50px;
}

.btn-area-cliente a{
  font-weight: 600;
}

.divider {
  height: 100%;
  padding: 10px 0;
  width: 2px;
  background-color: var(--clr-secondary);
}

.form {
  width: calc(50% - 5em * 2);
  padding: 5em;
}

.labeled-input {
  display: flex;
  flex-direction: column;
}