@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
  --clr-primary: #BDCEDB;
  --clr-secondary: #0F5C60;
  --clr-tertiary: #E4E4E3;

  --clr-font-primary: black;
  --clr-font-secondary: white;

  --clr-background-main: white;
  --clr-shadow: #000000;
}

body {
  background-color: var(--clr-primary);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  overflow-y: hidden;
}

.parte-1 {
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vacsense {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

section {
  margin: 0;
  padding: 0;
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background-color: var(--clr-background-main);
  width: 50%;
  height: 100vh;
  padding: 10px;
}

h1, h2, h3 {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  position: absolute;
  right: 0;
}

.logo-m {
  width: 130px;
  height: auto;
}

.logo-v {
  width: 300px;
  align-self: center;
  justify-self: center;
}

.vacsense h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-self: center;

  gap: 20px;
}

.inputs-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.labeled-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labeled-input .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0;
}

.input {
  border: 0;
  border-radius: 20px;
  padding: 10px;

  background-color: var(--clr-tertiary);
  outline: 0;
}


.btn {
  background-color: var(--clr-secondary);
  color: var(--clr-font-secondary);

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  align-self: center;

  width: fit-content;


  padding: 10px 20px;

  border: 0;
  border-radius: 20px;

  transition: 150ms ease-in-out;
}

.div-resposta {
  min-height: 20%;
}

.h2-resposta {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
}